.jaslider-div{
	position: relative;
	height: 100%;
}

.jaslider-menu{
	position: absolute;
	float:left;
	color:#fff;
	width: 256px;
	/*z-index: 300000;*/
	background: rgb(73,73,73);
	/*background-image: url('../img/bg/bg03.png');*/
	background-repeat: repeat;
	height: 100%;
	/*left: -256px;*/

	/*border-right: solid 2px black;*/
}

.jaslider-content{
	position: relative;
	left: 256px;
}

.jaslider-button{
	display: inline-block;
	/*background: url('../img/menu25.png');*/
	background-repeat: no-repeat; 
    border-collapse: collapse;
    border-radius: 5px;
	vertical-align: middle;
}

.jaslider-button:hover{
	background-position:0 -25px;
}

.jaslider-button>img{
	margin-left: 1px;
}

